*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-color:#F3F3F3;
    margin: 0;
}

.blog-container .ql-editor{
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;
}

.blog-container .ql-container.ql-snow{
    border: none;
    display: flex;
    justify-content: center;
    position:static;
}

/* .blog-container {
    position: relative; 
} */

.blog-container .ql-toolbar.ql-snow {
    position: sticky;
    top: 60px;
    z-index: 10; /* Tăng z-index nếu cần để đảm bảo toolbar ở trên nội dung */
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    padding: 0.5rem; /* Tùy chỉnh thêm nếu cần */
}

@page{
    margin: 1in;
}


@media print{
    body{
        background-color: none;
    }

    .blog-container .ql-editor{
        width: 6.5in;
        min-height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .blog-container .ql-toolbar.ql{
        display: none;
    }
}