/* UserInfo container */
.user-info-container {
  padding: 20px;
  background-color: #f0f0f0; /* Light gray background */
  width: 100%;
  
}

/* Back button style */
.back {
  font-size: 18px;
  color: #007bff;
  cursor: pointer;
  margin-bottom: 15px;
  display: block;
  text-decoration: none; /* Remove underline */
}

.back:hover {
  color: #0056b3; /* Darker blue on hover */
}

/* User info section (user info including avatar and username) */
.user-info {
  display: flex;
  margin-left: 24px;
  align-items: center;
  margin-bottom: 10px; /* Space between user info and the next row */
}

/* User avatar */
.user-avatar {
  width: 60px;
  height: 60px;
  background-color: #ccc;
  border-radius: 50%; /* Circle shape */
  margin-right: 10px;
}

/* Username style */
.username {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Follow and Date section (display button under username and date on the right) */
.follow-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Follow button */
.follow-btn {
  margin-left: 6%;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}

.follow-btn:hover {
  background-color: #45a049;
}

/* Create date section (right aligned) */
.create-date {
  font-size: 14px;
  color: #777;
  margin-right: 10%;
}
