.footer-container {
    background-color: #f8f9fa;
    text-align: center;
    padding: 40px 0; /* Tăng chiều cao */
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: #6c757d;
    border-top: 1px solid #dee2e6;
    
  }
  